

<h3>Chapter</h3>
@{ 
    if (ChapterDefinitionDto != null) {
    <EditForm Model="ChapterDefinitionDto">
        <DataAnnotationsValidator/>

        <label>Chapter Name</label>
        <InputText @bind-Value="ChapterDefinitionDto.ChapterName" />
        <ValidationSummary />

        @foreach (var e in ChapterDefinitionDto.ChapterElements) {
            <ChapterDefComponent ChapterElementDefinitionDto="e"></ChapterDefComponent>
            <button class="btn btn-light btn-sm" @onclick="() => RemoveChapterElement(e)">Remove Chapter Element</button>
        }

        <button class="btn btn-light btn-sm" @onclick="AddChapterElement">Add Chapter Element</button>

    </EditForm>
    }
    else {
            <label>Loading Chapter Element Definition ...</label>
        }
    }

@code {

    [Parameter]
    public ChapterDefinitionDto ChapterDefinitionDto { get; set; }

    protected override void OnParametersSet() {
        base.OnParametersSet();

        InitiChapterDefintionDto();
    }

    private void InitiChapterDefintionDto() {
        if (ChapterDefinitionDto.ChapterElements == null)
            ChapterDefinitionDto.ChapterElements = Array.Empty<ChapterElementDefinitionDto>();

    }

    private void AddChapterElement() {
        ChapterDefinitionDto.ChapterElements = ChapterDefinitionDto.ChapterElements.Concat(new ChapterElementDefinitionDto[] {
            new ChapterElementDefinitionDto()
        }).ToArray();
    }

    private void RemoveChapterElement(ChapterElementDefinitionDto chapterName) {
        ChapterDefinitionDto.ChapterElements = ChapterDefinitionDto.ChapterElements.Where(e => e != chapterName).ToArray();
    }


}
