<h5>Chapter Element Definition</h5>

<EditForm Model="ChapterElementDefinitionDto">

</EditForm>

    @code {

        [Parameter]
        public ChapterElementDefinitionDto ChapterElementDefinitionDto { get; set; }

        protected override void OnInitialized() {
            base.OnInitialized();


        }

    }
