@page "/"
@inject NavigationManager NavigationManager
@inject Services.LoginBackendAccessService LoginService
@inject Services.UserDefinitionBackendService UserService
@layout MainLayoutBlank
@inject Services.BiscuitService bisquitService


<div oncontextmenu='return false' class="loginscreen">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card" style=" margin-bottom: 20px; border: none">

                    <form onsubmit="event.preventDefault()" class="boxlogin">
                        <h1>Alexandria</h1>
                        <p class="text-muted"> Logge dich mit deinem Usernamen und Passwort ein!</p>

                        <input type="text" placeholder="Username" @bind="username">
                        <input type="password" placeholder="Password" @bind="password">
                        <button type="submit" class="btn btn-primary" @onclick="LoginAbfrage" value="Login" name="" href="#">Login</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@if (isLoginMessage)
{
    <div class="alert alert-danger d-flex align-items-center" role="alert">

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-circle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Danger:">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
        </svg>
        <div>
            Leider ist der eingegebene Username oder das Passwort falsch. Probiere es bitte noch einmal.
        </div>
    </div>
}




@if (isLoginTest)
{
<div class="alert alert-danger d-flex align-items-center" role="alert">

    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-circle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Danger:">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
    </svg>

    &nbsp;

    <div>
        Leider ist der eingegebene Username oder das Passwort falsch. Probiere es bitte noch einmal.
    </div>
</div>
}


@code {

    public String username { get; set; }
    public String password { get; set; }
    public Boolean isLoginMessage { get; set; }
    public Boolean isLoginTest { get; set; }

    private async void LoginAbfrage()
    {
        RoleType role;
        String user = null;
        isLoginMessage = false;
        isLoginTest = false;

        if (username != null && password != null)
        {

            //TODO Fehlermeldung bei falschem Username bzw. Passwort anzeigen lassen / erscheint aktuell noch nicht
            try
            {
                LoginDto login = await LoginService.GetLoginByUserPassword(username, password);
                user = login.UserName;

                role = login.Role;

                int param = 0;

                UserDefinitionDto userDto = await UserService.GetUserByAuth(login);

                int userId = userDto.UserId;

                switch (role)
                {
                    case RoleType.Admin:
                        param = 1;
                        break;
                    case RoleType.Student:
                        param = 2;
                        break;
                    case RoleType.Teacher:
                        param = 1;
                        break;
                    default:
                        param = 1;
                        break;
                }

                bisquitService.User = userDto;

                NavigationManager.NavigateTo("/home/" + param + "/" + userId);

                
            }
            catch (Exception e)
            {
                isLoginMessage = true;

            }


            isLoginMessage = true;

        }

        else
        {

            isLoginMessage = true;

        }



    }


}
