@page "/home"
@inject NavigationManager NavigationManager

<h1>Hello!</h1>

Welcome to your new app.



<button class="btn btn-primary">Safe</button>

<SurveyPrompt Title="How is Blazor working for you?" />




@code {




}



