@page "/home/{Role:int}/{UserId:int}"
@inject Services.UserDefinitionBackendService UserService
@inject NavigationManager NavigationManager


@{
    if (Role == 1)
    {
        @layout MainLayout;
    }
}

<main role="main">


    @if (Role == 1 || Role == 2)
    {

        if (Role == 2) { NavigationManager.NavigateTo("/studentView"); }
        <div class="alert alert-success d-flex align-items-center" role="alert">

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>

            &nbsp;

            <div>
                Du bist jetzt als @RoleUser angemeldet.
            </div>

            @if (Role == 1)
            {
                <div>
                    Du kannst nun sowohl Kurse erstellen als auch nutzen.
                </div>
            }
            else
            {
                <div>
                    Du kannst nun alle bereits erstellten Kurse nutzen.
                </div>
            }


        </div>
    }

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Welcome to Alexandria!</h1>
            <p>Share Knowledge and improve your Knowledge !</p>
            <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div>


    @if (Role == 1)
    {

        <div class="container mt-5">

            <h1 class="faq">Häufig gestellte Fragen</h1>

            <div class="accordion" id="accordionExample">

                <div>
                    <details>
                        <summary> Wie wird das Produkt das Leben der Kunden verbessern? </summary>
                        <p>
                            Durch die Internetlernplattform Alexandria ist es möglich, praktische Lerninhalte leichter zu vermitteln. <br>
                            Im Fokus steht dabei, dass die Inhalte selbstständig und unkompliziert von der örtlichen Ärzten gepflegt werden können. Es handelt sich also um eine nachhaltige Anwendung, die irgendwann auch keine Unterstützung aus Deutschland mehr benötigt.
                        </p>
                    </details>
                </div>


                <div>
                    <details>
                        <summary> Warum ist das Kundenproblem gerade wichtig? </summary>
                        <p>
                            Die Sterblichkeitsrate für Neugeborene ist in Äthiopien momentan sehr hoch, so dass örtliche Ärzte Unterstützung aus Deutschland benötigen. <br>
                            Da es aufgrund der Pandemie nicht möglich ist, diese vor Ort zu leisten, ist es notwendig, eine leistungsstarke Plattform zum Austausch zur Verfügung zu stellen.
                        </p>
                    </details>
                </div>

                <div>
                    <details>
                        <summary> Wie viel wird es kosten, das Produkt zu veröffentlichen? </summary>
                        <p>
                            Es handelt sich um ein Projekt von Studenten der Hochschule München und wird außerdem von Amazon durch die Bereitstellung der AWS-Cloud unterstützt. <br>
                            Sie wird also kostenlos zur Verfügung gestellt.
                        </p>
                    </details>
                </div>


                <div>
                    <details>
                        <summary> Wie lange wird die Entwicklung dauern? </summary>
                        <p>
                            Am 25. Juni wird die erste Version mit den wesentlichem Kernfunktionen als Open-Source übergeben.
                        </p>
                    </details>
                </div>


                <div>
                    <details>
                        <summary> Was sind die Risiken und Hindernisse? </summary>
                        <p>
                            Das größte Risiko stellt die fehlende Erfahrung im Umgang mit den verwendeten Technologien dar, weshalb es aufgrund von zu langer Einarbeitungszeit zu Verzögerungen kommen könnte.
                        </p>
                    </details>
                </div>


                <div>
                    <details>
                        <summary> Warum erst jetzt und nicht schon früher? </summary>
                        <p>
                            Bisher konnten Trainings noch regelmäßig vor Ort durchgeführt werden, doch seit der Covid-19 Pandemie muss eine Alternative gefunden werden.
                        </p>
                    </details>
                </div>

                <div>
                    <details>
                        <summary> Wie messen wir den Erfolg der Lernplattform? </summary>
                        <p>
                            Wir messen den Erfolg anhand einer hoffentlich gesunkenen Neugeborenensterblichkeitsrate sowie positiver Rückmeldungen der verschiedenen Benutzergruppen der Plattform.
                        </p>
                    </details>
                </div>

                <div>
                    <details>
                        <summary> Wie skaliert Alexandria im Falle eines großen Erfolges? </summary>
                        <p>
                            Die Skalierbarkeit ergibt sich durch die Nutzung und Unterstützung der AWS-Cloud.
                        </p>
                    </details>
                </div>


            </div>
        </div>



    }



    <br />



</main>

<footer class="container">
    <p>&copy; Alexandria 2021</p>
</footer>



@code {

    [Parameter]
    public int Role { get; set; }
    [Parameter]
    public int UserId { get; set; }
    public String Username { get; set; }
    public RoleType RoleUser { get; set; }

    private EditContext context { get; set; }


    protected override async Task OnParametersSetAsync()
    {

        int request = Role;

        int userId = UserId;

        UserDefinitionDto user = await UserService.GetUserById(UserId);

        Username = user.AuthDefinitions[0].UserName;
        RoleUser = user.AuthDefinitions[0].Role;

    }


}
