@inherits LayoutComponentBase
@inject Services.LoginBackendAccessService LoginService

<div class="page">
    <div class="sidebar">
        <NavMenuUser />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <h2>Lernender</h2> 
            <a href="/home/2">Feedback</a>

        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>


}