@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <h2>Username</h2> <!-- Username von Sophie geben lassen.-->
            <a href="#">Feedback</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
