@inherits LayoutComponentBase
@inject Services.LoginBackendAccessService LoginService
@inject Services.BiscuitService BiscuitService
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">

            <h2>@(BiscuitService.User.AuthDefinitions[0].Role)</h2>

            <a href="useredit/@(BiscuitService.User.UserId)">@(BiscuitService.User.AuthDefinitions[0].UserName)</a>

        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

}